.shopping-icon {
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .shopping-bag {
    height: 30px;
    width: 30px;
    position: absolute;
  }
  span {
    // position: absolute;
    // top: 10px;
    // left: 10px;
    font-size: .9rem;
    margin-top: .5rem;
  }
}