.landing {
  height: calc(100vh - 80px);
  position: relative;
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-column-gap: 8rem;
    align-items: center;
    justify-content: center;
    .side-a {
      h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
        opacity: .8;
        .underline {
          position: relative;
          // color: #386186;
          &::after {
            content: '';
            width: 105%;
            height: 15px;
            background: #55efc4;
            position: absolute;
            bottom: 10%;
            right: -4px;
            z-index: -1;
          }
        }
      }
      p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
        color: #444;
      }
      .landing-cta {
        .landing-btn {
        }
        div:first-child {
          margin-right: 2rem;
        }
      }
    }
    .side-b {
      display: flex;
      justify-content: center;
      img {
        // width: 80%;
        // height: 80%;
        min-height: 400px;
        min-width: 400px;
        max-height: 600px;
        max-width: 600px;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,.8));
      }
    }
  }
}

// Media Queries
.landing {
  .container {
    .side-a {
      h2 {
        @media only screen and (max-width: 1080px) {
          font-size: 2.5rem;
          .underlin {
            &::after {
              bottom: 5%;
            }
          }
        }
      }
      p {
        @media only screen and (max-width: 1080px) {
          font-size: .9rem;
        }
      }
      .landing-cta {

      }
      @media only screen and (max-width: 865px) {
        max-width: 400px;
        margin: 0 auto;
      }
    }
    .side-b {
      img {
        @media only screen and (max-width: 865px) {
          height: 50%;
          width: 50%;
          min-height: 275px;
          min-width: 275px;
        }
      }
      @media only screen and (max-width: 865px) {
        // grid-row: 1;
      }
    }
    @media only screen and (max-width: 865px) {
      grid-template-columns: 1fr;
      text-align: center;
      grid-row-gap: 2rem;
    }
  }
}