.about-card {
  background: #F0F0F0;
  border: 1px solid #d3d3d3;
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  img {
    width: 100%;
    min-height: 200px;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.6em;
    padding: 1rem;
  }
}