.title {
  margin: 5rem 0 2.5rem 0;
  text-align: center;
  h2 {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    &::after {
      content: '';
      width: 105%;
      height: 10px;
      background: #55efc4;
      position: absolute;
      bottom: 10%;
      right: -4px;
      z-index: -1;
    }
  }
}

@media only screen and (max-width: 725px) {
  .title {
    margin: 2rem 0;
  }
}