.contact-info-form {
  margin: 5rem 0;
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    // grid-template-rows: 500px;
    // height: 500px;
    .side-a {
      display: flex;
      justify-content: center;
      padding: 143px 2rem 0 2rem;
      background: #7ebbae;
      color: #fff;
      h3 {
        margin-bottom: .5rem;
      }
      h4 {
        font-weight: 400;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
    .side-b {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      border-right: 1px solid #d3d3d3;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
      align-items: center;
      h2 {
        position: absolute;
        top: 71px;
        font-weight: 400;
        font-size: 1.75rem;
      }
      form {
        padding-top: 143px;
        display: flex;
        flex-direction: column;
        .group {
          display: flex;
          flex-direction: column;
          label {
            margin-bottom: .25rem;
          }
          input {
            margin-bottom: .25rem;
            height: 30px;
          }
        }
        .name-group {
          flex-direction: row;
          .first, .last {
            display: flex;
            flex-direction: column;
          }
          .first {
            margin-right: 1rem;
          }
        }
        .form-btn {
          align-self: center;
          padding: .5rem 2rem;
          background: #7ebbae;
          outline: 0;
          border: 0;
          color: #fff;
          margin: 2rem 0;
          font-size: 1.125rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 865px) {
  .contact-info-form {
    margin: 2rem 0;
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      .side-a {
        padding: 2rem;
        align-items: center;
        h4 {
          word-wrap: break-word;
        }
      }
      .side-b {
        padding: 0rem;
        align-items: center;
        border-top: 0px;
        border-left: 1px solid #d3d3d3;
        form {
          width: 70%;
          .name-group {
            flex-direction: column;
            .first {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}