.lightbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
    }
  }
}

// Media Queries
.lightbox {
  h2 {
    @media only screen and (max-width: 860px) {
      font-size: 1.5rem;
    }
  }
  .container {
    @media only screen and (max-width: 860px) {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    @media only screen and (max-width: 565px) {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-auto-rows: 200px;
    }
  }
}