.navbar {
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .logo {
      font-size: 2.5rem;
      font-weight: 700;
      color: #222;
      background: linear-gradient(to right, #22c1c3, #fdbb2d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
    ul {
      display: flex;
      li {
        margin-right: 2.5rem;
        a {
          color: #222;
          font-size: 1.125rem;
          position: relative;
        }
      }
    }
    .cta-group {
      display: flex;
      align-items: center;
      .shopping-icon {
        position: relative;
        margin-right: 2rem;
        cursor: pointer;  
        .shopping-bag {
          height: 30px;
          width: 30px;
        }
        span {
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: .9rem;
        }
      }
      .header-cta {
        font-size: 1.125rem;
        color: #222;
        border: 1px solid #222;
        padding: .5rem 2rem;
        border-radius: 50px;
      }
    }
    .hamburger {
      position: absolute;
      visibility: hidden;
      .line {
        height: 2px;
        width: 25px;
        background: #111;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
}

// Media Queries
@media only screen and (max-width: 865px) {
  .navbar {
    .container {
      .logo {
        font-size: 2rem;
      }
      ul {
        display: none;
      }
      .cta-group {
        display: none;
      }
      .hamburger {
        position: relative;
        visibility: visible;
        cursor: pointer;
      }
    }
  }
}