.rounded-btn {
  display: inline-block;
  .cta {
    display: inline-block;
    padding: .75rem 2rem;
    background: #444;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    &.inverse {
      background: none;
      color: #444;
      border: 1px solid #444;
    }
  }
}
